<h1>{{title}}</h1>
{{#if result}}
    <li>Director: {{ result.director }}
    <li>Genre: {{ result.genre }}</li>
    <li>Year: {{ result.year }}

{{else}}
        <h1>were not found. :-(</h1>
{{/if}}

