{{result}}


<!--
<h2>Details for {{title}}</h2>
{{#if result}}
    <li>Title: {{ result.title }}
    <li>Director: {{ result.director }}
    <li>Year: {{ result.year }}
{{else}}
        not found
{{/if}}&ndash;&gt;
-->
